<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Give data</title>
</head>
<body>
    <form action="/inputs" method="post">
        <br>
        Roll Number = <input type="number" name="StudentRollNo"> <br><br>
        <input type="checkbox" id="email" name="email" value="Bike">
        <label for="email"> Email me the report</label><br><br>
        <input type="submit" name="Submit" value="Submit" onclick="<% from searchdata import inputroll %> <% inputroll(StudentRollNo) %>">
    </form>
</body>
</html>