<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Give data</title>
</head>
<body>
    <form action="/inputs" method="post">
        Student Name = <input type="text" name="StudentName"> <br>
        Roll Number = <input type="number" name="StudentRollNo"> <br>
        Date of Birth = <input type="date" name="StudentDOB"> <br>
        Batch: Python<input type="checkbox"> <br>
                Java<input type="checkbox"> <br>
                JavaScript<input type="checkbox"> <br>
            <input type="submit" name="Submit"> <br>
        <p>After clicking "Submit" the data will be stored in the sheet.</p>
    </form>
</body>
</html>