<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{ font: 14px sans-serif; }
        .wrapper{ width: 360px; padding: 20px; }
    </style>
</head>
<body>
    <div class="wrapper">
        <p>*Attendance report is protected with username and password authentication.*</p>
        <h2>Login to gain access</h2>
        <p>Please fill in your credentials to login.</p>


        <form action="/login" method="POST" >
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Login" onclick="return check(this.form)">
            </div>
        </form>
        <script language="javascript">
            function check(form)
            {

                if(form.password.value == "root")
                {
                    return true;
                }
                else
                {
                    alert("Error: Wrong Password")
                    return false;
                }
            }
	    </script>
    </div>
</body>
</html>
